<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner2.PNG" class="d-block w-100" alt="imagem de uma area de jogos">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner1.PNG" class="d-block w-100" alt="rapaz jogando on-line">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner3.PNG" class="d-block w-100" alt="triangulo de leds">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2>OS MAIS VENDIDOS</h2>

    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo1.jpg" alt="Corrida de moto">
                <mat-card-header>
                    <mat-card-title>Cross Race</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p>
                        Customização das motos. Campanhas de rua e estrada. Jogue on-line com dois ou mais jogadores.<br> R$230,00 <br>
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <button type="button" class="btn btn-primary">Comprar</button>
                </mat-card-actions>
            </mat-card></mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo5.jpg" alt="Jogador com a bola no pé">
                <mat-card-header>
                    <mat-card-title>Futebol League</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        Mais jogado em 2023. <br> R$300,00 <br>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button type="button" class="btn btn-primary">Comprar</button>
                </mat-card-actions>
            </mat-card>
            </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo3.jpg" alt="eskatista fazendo uma manobra">
                <mat-card-header>
                    <mat-card-title>Go Skate!</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        Campeonato, Games e street. <br>R$200,00<br>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button type="button" class="btn btn-primary">Comprar</button>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>


    </mat-grid-list>







</main>